body {
    background-color: #555555;
    margin: 0;
    padding: 0;
    background: #000 url(https://i.imgur.com/mN3B7Cc.gif) center center fixed no-repeat;
    -moz-background-size: cover;
    background-size: cover;
}

#bg_img {
    width: 1285px;
}


/*Logo圖片大小*/

#titel_img {
    width: 550px;
}


/*海綿寶寶*/

#spongebob_img {
    position: absolute;
    width: 300px;
    height: 130px;
    margin-left: -270px;
    margin-top: -10px;
}


/*整個登入框位置*/

#log_image {
    z-index: 0;
    position: absolute;
    left: 46%;
    top: 43%;
    height: 151px;
    width: 0px;
    margin-left: -230px;
    margin-top: -100px;
}


/*註冊ID&呼叫ID登入框位置*/

#text_box {
    position: absolute;
    top: 130px;
    left: 200px;
    width: 600px;
    z-index: 1;
    /* background-color: #FF0000;*/
}

#text_box div {
    color: #FFFFFF;
    width: 400px;
}

#titel_text {
    position: absolute;
}


/*註冊ID、對方ID文字顯示*/

#SelfLabel {
    margin-left: -190px;
}

#TargetLabel {
    margin-left: -190px;
}


/*登入Button與註冊Textbox的間距*/

#container {
    height: 60px;
    position: relative;
    position: absolute;
    top: 100%;
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}


/*註冊ID、對方ID Textbox長度調整*/

#txtSelfId {
    width: 500px;
    margin-left: -190px;
}

#txtTargetId {
    width: 500px;
    margin-left: -190px;
}

#btnLogin {
    height: 50px;
    width: 530px;
    font-size: 30px;
    margin-left: -190px;
}